.carousel.custom-carousel {
  position: relative;

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
    align-items: stretch;
  }

  //.carousel-inner .carousel-item-right.active,
  //.carousel-inner .carousel-item-next {
  //  transform: translateX(25%);
  //}
  //
  //.carousel-inner .carousel-item-left.active,
  //.carousel-inner .carousel-item-prev {
  //  transform: translateX(-25%);
  //}
  //
  //.carousel-inner .carousel-item-right,
  //.carousel-inner .carousel-item-left{
  //  transform: translateX(0);
  //}
  //
  //@media (max-width: 1024px) {
  //  .carousel-item-next.carousel-item-left,
  //  .carousel-item-next.carousel-item-right,
  //  .carousel-item-prev.carousel-item-left,
  //  .carousel-item-prev.carousel-item-right {
  //    display: none;
  //  }
  //
  //  .carousel-inner .carousel-item-right.active,
  //  .carousel-inner .carousel-item-next {
  //    transform: translateX(50%);
  //  }
  //
  //  .carousel-inner .carousel-item-left.active,
  //  .carousel-inner .carousel-item-prev {
  //    transform: translateX(-50%);
  //  }
  //}
  //
  //@media (max-width: 767px) {
  //  .carousel-item-next.carousel-item-left,
  //  .carousel-item-next.carousel-item-right,
  //  .carousel-item-prev.carousel-item-left,
  //  .carousel-item-prev.carousel-item-right {
  //    display: none;
  //  }
  //
  //  .carousel-inner .carousel-item-right.active,
  //  .carousel-inner .carousel-item-next {
  //    transform: translateX(100%);
  //  }
  //
  //  .carousel-inner .carousel-item-left.active,
  //  .carousel-inner .carousel-item-prev {
  //    transform: translateX(-100%);
  //  }
  //
  //}


  .carousel-control-prev {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    left: -50px;
    height: 45px;
    width: 25px;

    @media (min-width: 1041px) and (max-width: 1280px) {
      left: -20px;
    }
    @media (max-width: 1040px) {
      left: 0;
    }
    @media (min-width: 576px) and (max-width: 992px) {
      left: -20px;
    }
    .carousel-control-prev-icon {
      background-image: url(../images/location/location-prev.png);
      left: -50px;
      height: 45px;
      width: 25px;

      &:active {
        background-image: url(../images/speakers-slider-left.png);
      }
    }
  }

  .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    right: -50px;
    height: 45px;
    width: 25px;

    @media (min-width: 1041px) and (max-width: 1280px) {
      right: -20px;
    }
    @media (max-width: 1040px) {
      right: 0;
    }
    @media (min-width: 576px) and (max-width: 992px) {
      right: -20px;
    }

    .carousel-control-next-icon {
      background-image: url(../images/location/location-next.png);
      right: -50px;
      height: 45px;
      width: 25px;

      &:active {
        background-image: url(../images/speakers-slider-right.png);
      }
    }
  }
}
