section#infographics {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url('../images/ninja-bg-gray.png');
  background-position: top center;
  @include background-cover;
  .container {
    max-width: none;
    padding: 0;
  }
}
